<template>
  <div class="header">
    All items
  </div>
  <div class="list-section">
    <div class="collection-item">
      <div class="list-of-item" repeat.for="item of items">
        <md-checkbox md-checked.bind="checked" class="${checked ? 'item-checked-true' : 'item-checked'}">
          ${item.propertyString} ${item.propertyString2} ${item.propertyNumber}
        </md-checkbox>
        <div class="${checked ? 'collection-buttons-done' : 'collection-buttons'}">
          <button md-button="flat:true;" class="primary-text" click.delegate="editItem(item.id, item.listId)"><i class="material-icons">mode_edit</i>
          </button>
          <button md-button="flat:true;" class="primary-text" click.delegate="deleteItem(item.id, item.listId)"><i
            class="material-icons">delete</i></button>
        </div>
      </div>
    </div>
    <div id="btnAddItem" class="add-item">
      <a md-button="floating: true; large: true; pulse.bind: pulse;" md-waves="color: light; circle: true;"
         click.delegate="add()">
        <i class="material-icons">add</i>
      </a>
    </div>
  </div>

</template>
